/* Styles for the external CSS file */
body {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:#f4f4f4;
margin:0;
padding:0;
}
h1 {
color:#333;
text-align: center;
margin-top: 20px;
}
h2{
    color: aquamarine;
    text-align: justify;
}
p {
color:#666;
line-height: 1.6;
padding: 0 20px;
text-align: left;
}